<?xml version="1.0" encoding="utf-8"?>
<odoo><data>
    <!-- Top menu item -->
    <menuitem id="finaudit_menu" name="Financial Audit" sequence="1" groups="base.group_user"/>

    <!-- Side menu actions -->
    <record id="finaudit_engagements_menu_action" model="ir.actions.act_window">
        <field name="name">Audit Engagements</field>
        <field name="res_model">audit.engagements</field>
        <field name="view_mode">kanban,tree,form</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">Click to add a new audit engagement.</p>
        </field>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_engagements_kanban_view">
        <field name="sequence" eval="1"/>
        <field name="view_mode">kanban</field>
        <field name="view_id" ref="audit_engagements_kanban"/>
        <field name="act_window_id" ref="finaudit_engagements_menu_action"/>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_engagements_tree_view">
        <field name="sequence" eval="2"/>
        <field name="view_mode">tree</field>
        <field name="view_id" ref="audit_engagements_tree"/>
        <field name="act_window_id" ref="finaudit_engagements_menu_action"/>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_engagements_form_view">
        <field name="sequence" eval="3"/>
        <field name="view_mode">form</field>
        <field name="view_id" ref="audit_engagements_form"/>
        <field name="act_window_id" ref="finaudit_engagements_menu_action"/>
    </record>

    <record id="finaudit_plans_procedures_menu_action" model="ir.actions.act_window">
        <field name="name">Planed Procedures</field>
        <field name="res_model">audit.plans.procedures</field>
        <field name="view_mode">kanban,tree,form</field>
        <field name="help" type="html">
          <p class="oe_view_nocontent_create">Click to add a new procedure into the plan.</p>
        </field>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_plans_procedures_kanban_view">
        <field name="sequence" eval="9"/>
        <field name="view_mode">kanban</field>
        <field name="view_id" ref="audit_plans_procedures_kanban"/>
        <field name="act_window_id" ref="finaudit_plans_procedures_menu_action"/>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_plans_procedures_tree_view">
        <field name="sequence" eval="2"/>
        <field name="view_mode">tree</field>
        <field name="view_id" ref="audit_plans_procedures_tree"/>
        <field name="act_window_id" ref="finaudit_plans_procedures_menu_action"/>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_plans_procedures_form_view">
        <field name="sequence" eval="3"/>
        <field name="view_mode">form</field>
        <field name="view_id" ref="audit_plans_procedures_form"/>
        <field name="act_window_id" ref="finaudit_plans_procedures_menu_action"/>
    </record>

    <record id="finaudit_clients_menu_action" model="ir.actions.act_window">
        <field name="name">Clients</field>
        <field name="res_model">audit.engagements.clients</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
          <p class="oe_view_nocontent_create">Click to add a new client.</p>
        </field>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_clients_tree_view">
        <field name="sequence" eval="1"/>
        <field name="view_mode">tree</field>
        <field name="view_id" ref="audit_engagements_clients_tree"/>
        <field name="act_window_id" ref="finaudit_clients_menu_action"/>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_clients_form_view">
        <field name="sequence" eval="2"/>
        <field name="view_mode">form</field>
        <field name="view_id" ref="audit_engagements_clients_form"/>
        <field name="act_window_id" ref="finaudit_clients_menu_action"/>
    </record>

    <record id="finaudit_assertions_menu_action" model="ir.actions.act_window">
        <field name="name">Assertions</field>
        <field name="res_model">audit.assertions</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">Click to add a new assertion.</p>
        </field>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_assertions_tree_view">
        <field name="sequence" eval="1"/>
        <field name="view_mode">tree</field>
        <field name="view_id" ref="audit_assertions_tree"/>
        <field name="act_window_id" ref="finaudit_assertions_menu_action"/>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_assertions_form_view">
        <field name="sequence" eval="2"/>
        <field name="view_mode">form</field>
        <field name="view_id" ref="audit_assertions_form"/>
        <field name="act_window_id" ref="finaudit_assertions_menu_action"/>
    </record>

    <record id="finaudit_objects_menu_action" model="ir.actions.act_window">
        <field name="name">Audit objects</field>
        <field name="res_model">audit.objects</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">Click to add a new audit object.</p>
        </field>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_objects_tree_view">
        <field name="sequence" eval="1"/>
        <field name="view_mode">tree</field>
        <field name="view_id" ref="audit_objects_tree"/>
        <field name="act_window_id" ref="finaudit_objects_menu_action"/>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_objects_form_view">
        <field name="sequence" eval="2"/>
        <field name="view_mode">form</field>
        <field name="view_id" ref="audit_objects_form"/>
        <field name="act_window_id" ref="finaudit_objects_menu_action"/>
    </record>

    <record id="finaudit_questionnaire_menu_action" model="ir.actions.act_window">
        <field name="name">Questionnaire</field>
        <field name="res_model">audit.questionnaire</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">Click to add a new questionnaire.</p>
        </field>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_questionnaire_tree_view">
        <field name="sequence" eval="1"/>
        <field name="view_mode">tree</field>
        <field name="view_id" ref="audit_questionnaire_tree"/>
        <field name="act_window_id" ref="finaudit_questionnaire_menu_action"/>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_questionnaire_form_view">
        <field name="sequence" eval="2"/>
        <field name="view_mode">form</field>
        <field name="view_id" ref="audit_questionnaire_form"/>
        <field name="act_window_id" ref="finaudit_questionnaire_menu_action"/>
    </record>

    <record id="finaudit_calcs_menu_action" model="ir.actions.act_window">
        <field name="name">Calcs</field>
        <field name="res_model">audit.calcs</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">Click to add a new calc.</p>
        </field>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_calcs_tree_view">
        <field name="sequence" eval="1"/>
        <field name="view_mode">tree</field>
        <field name="view_id" ref="audit_calcs_tree"/>
        <field name="act_window_id" ref="finaudit_calcs_menu_action"/>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_calcs_form_view">
        <field name="sequence" eval="2"/>
        <field name="view_mode">form</field>
        <field name="view_id" ref="audit_calcs_form"/>
        <field name="act_window_id" ref="finaudit_calcs_menu_action"/>
    </record>

    <record id="finaudit_procedures_menu_action" model="ir.actions.act_window">
        <field name="name">Audit procedures</field>
        <field name="res_model">audit.procedures</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">Click to add a new audit procedure.</p>
        </field>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_procedures_tree_view">
        <field name="sequence" eval="1"/>
        <field name="view_mode">tree</field>
        <field name="view_id" ref="audit_procedures_tree"/>
        <field name="act_window_id" ref="finaudit_procedures_menu_action"/>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_procedures_form_view">
        <field name="sequence" eval="2"/>
        <field name="view_mode">form</field>
        <field name="view_id" ref="audit_procedures_form"/>
        <field name="act_window_id" ref="finaudit_procedures_menu_action"/>
    </record>
<!-- TODO: add tree hierarchy view -->
<!-- TODO make hierarchy tree view
    <record id="finaudit_procedures_menu_action" model="ir.actions.act_window">
        <field name="name">Audit procedures views</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">audit.procedures</field>
        <field name="view_type">tree</field>
        <field name="view_mode">tree,form</field>
        <field name="view_id" ref="audit_procedures_tree"/>
    </record>
    -->
    <record id="finaudit_procedures_purposes_menu_action" model="ir.actions.act_window">
        <field name="name">Audit procedures purposes</field>
        <field name="res_model">audit.procedures.purposes</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">Click to add a new audit procedure purpose.</p>
        </field>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_procedures_purposes_tree_view">
        <field name="sequence" eval="1"/>
        <field name="view_mode">tree</field>
        <field name="view_id" ref="audit_procedures_purposes_tree"/>
        <field name="act_window_id" ref="finaudit_procedures_purposes_menu_action"/>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_procedures_purposes_form_view">
        <field name="sequence" eval="2"/>
        <field name="view_mode">form</field>
        <field name="view_id" ref="audit_procedures_purposes_form"/>
        <field name="act_window_id" ref="finaudit_procedures_purposes_menu_action"/>
    </record>

    <record id="finaudit_procedures_types_menu_action" model="ir.actions.act_window">
        <field name="name">Audit procedures types</field>
        <field name="res_model">audit.procedures.types</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">Click to add a new audit procedure type.</p>
        </field>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_procedures_types_tree_view">
        <field name="sequence" eval="1"/>
        <field name="view_mode">tree</field>
        <field name="view_id" ref="audit_procedures_types_tree"/>
        <field name="act_window_id" ref="finaudit_procedures_types_menu_action"/>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_procedures_types_form_view">
        <field name="sequence" eval="2"/>
        <field name="view_mode">form</field>
        <field name="view_id" ref="audit_procedures_types_form"/>
        <field name="act_window_id" ref="finaudit_procedures_types_menu_action"/>
    </record>

    <record id="finaudit_procedures_files_menu_action" model="ir.actions.act_window">
        <field name="name">Files</field>
        <field name="res_model">audit.procedures.files</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">Click to add a new file.</p>
        </field>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_procedures_files_tree_view">
        <field name="sequence" eval="1"/>
        <field name="view_mode">tree</field>
        <field name="view_id" ref="audit_procedures_files_tree"/>
        <field name="act_window_id" ref="finaudit_procedures_files_menu_action"/>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_procedures_files_form_view">
        <field name="sequence" eval="2"/>
        <field name="view_mode">form</field>
        <field name="view_id" ref="audit_procedures_files_form"/>
        <field name="act_window_id" ref="finaudit_procedures_files_menu_action"/>
    </record>

    <record id="finaudit_procedures_questionnaire_menu_action" model="ir.actions.act_window">
        <field name="name">Procedures Questionnaire</field>
        <field name="res_model">audit.procedures.questionnaire</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">Click to add a new answer.</p>
        </field>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_procedures_questionnaire_tree_view">
        <field name="sequence" eval="1"/>
        <field name="view_mode">tree</field>
        <field name="view_id" ref="audit_procedures_questionnaire_tree"/>
        <field name="act_window_id" ref="finaudit_procedures_questionnaire_menu_action"/>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_procedures_questionnaire_form_view">
        <field name="sequence" eval="2"/>
        <field name="view_mode">form</field>
        <field name="view_id" ref="audit_procedures_questionnaire_form"/>
        <field name="act_window_id" ref="finaudit_procedures_questionnaire_menu_action"/>
    </record>

    <!-- Side menu items -->
    <!--    <menuitem action="finaudit_engagements_kanban_menu_action" id="finaudit_menu_dashboard" name="Dashboard" parent="finaudit_menu" sequence="1"/> -->
    <menuitem action="finaudit_engagements_menu_action" id="finaudit_menu_engagements" name="Engagements" parent="finaudit_menu" sequence="10"/>
    <menuitem action="finaudit_plans_procedures_menu_action" id="finaudit_menu_plans_procedures" name="Planed Procedures" parent="finaudit_menu" sequence="20"/>
    <menuitem action="finaudit_clients_menu_action" id="finaudit_menu_clients" name="Clients" parent="finaudit_menu" sequence="30"/>

    <menuitem id="finaudit_menu_settings" name="Settings" parent="finaudit_menu" sequence="99"/>
    <menuitem action="finaudit_calcs_menu_action" id="finaudit_menu_calcs" name="Calcs" parent="finaudit_menu_settings" sequence="20"/>
    <menuitem action="finaudit_procedures_menu_action" id="finaudit_menu_procedures" name="Procedures" parent="finaudit_menu_settings" sequence="20"/>
    <menuitem action="finaudit_questionnaire_menu_action" id="finaudit_menu_questionnaire" name="Questionnaire" parent="finaudit_menu_settings" sequence="21"/>
    <menuitem action="finaudit_assertions_menu_action" id="finaudit_menu_assertions" name="Assertions" parent="finaudit_menu_settings" sequence="22"/>
    <menuitem action="finaudit_objects_menu_action" id="finaudit_menu_objects" name="Objects" parent="finaudit_menu_settings" sequence="24"/>
    <menuitem action="finaudit_procedures_types_menu_action" id="finaudit_menu_procedures_types" name="Procedures Types" parent="finaudit_menu_settings" sequence="26"/>
    <menuitem action="finaudit_procedures_purposes_menu_action" id="finaudit_menu_procedures_purposes" name="Procedures purposes" parent="finaudit_menu_settings" sequence="28"/>
    <menuitem action="finaudit_procedures_files_menu_action" id="finaudit_menu_procedures_files" name="Procedure Files" parent="finaudit_menu_settings" sequence="30"/>
    <menuitem action="finaudit_procedures_questionnaire_menu_action" id="finaudit_menu_procedures_questionnaire" name="Procedure Questionnaire" parent="finaudit_menu_settings" sequence="32"/>

<!--  testing -->
<menuitem action="product.product_category_action_form" id="finaudit_menu_1" name="Pr categ" parent="finaudit_menu_settings" sequence="128"/>
<menuitem action="product.product_normal_action_sell" id="finaudit_menu_2" name="Pr sale" parent="finaudit_menu_settings" sequence="128"/>

</data></odoo>
