<?xml version="1.0" encoding="utf-8"?>
<odoo><data>
    <!-- Top menu item -->
    <menuitem id="finaudit_menu" name="Financial Audit" sequence="1" groups="base.group_user"/>

    <!-- Side menu actions -->
    <record id="finaudit_clients_menu_action" model="ir.actions.act_window">
        <field name="name">Clients</field>
        <field name="res_model">audit.engagements.clients</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
          <p class="oe_view_nocontent_create">Click to add a new client.</p>
        </field>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_clients_tree_view">
        <field name="sequence" eval="1"/>
        <field name="view_mode">tree</field>
        <field name="view_id" ref="audit_engagements_clients_tree"/>
        <field name="act_window_id" ref="finaudit_clients_menu_action"/>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_clients_form_view">
        <field name="sequence" eval="2"/>
        <field name="view_mode">form</field>
        <field name="view_id" ref="audit_engagements_clients_form"/>
        <field name="act_window_id" ref="finaudit_clients_menu_action"/>
    </record>

    <record id="finaudit_engagements_menu_action" model="ir.actions.act_window">
        <field name="name">Audit Engagements views</field>
        <field name="res_model">audit.engagements</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">Click to add a new audit engagement.</p>
        </field>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_engagements_tree_view">
        <field name="sequence" eval="1"/>
        <field name="view_mode">tree</field>
        <field name="view_id" ref="audit_engagements_tree"/>
        <field name="act_window_id" ref="finaudit_engagements_menu_action"/>
    </record>
    <record model="ir.actions.act_window.view" id="finaudit_engagements_form_view">
        <field name="sequence" eval="2"/>
        <field name="view_mode">form</field>
        <field name="view_id" ref="audit_engagements_form"/>
        <field name="act_window_id" ref="finaudit_engagements_menu_action"/>
    </record>

    <!-- Side menu items -->
    <menuitem action="finaudit_engagements_menu_action" id="finaudit_menu_engagements" name="Engagements" parent="finaudit_menu" sequence="1"/>
    <menuitem action="finaudit_clients_menu_action" id="finaudit_menu_clients" name="Clients" parent="finaudit_menu" sequence="2"/>

</data></odoo>
